body {
    height: 100vh;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(51, 50, 50);
}

button {
   all: unset; 
   padding: 5px;
   border-radius: 5px;
   margin: 2px 0;
}

p {
    font-weight: bold;
    width: inherit;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.room-zoom, .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}

.rooms, .pickups { 
    max-width: 10vw;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70vh;
    aspect-ratio: 1 / 1;
    flex-shrink: 0.5;
    margin: 0 80px;
    padding: 3px;
    border-radius: 5px;
    background-color: black;
}

.row {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}


.pixel {
    margin: 1px;
    flex-grow: 1;
    min-height: 1px;
    min-width: 1px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
}


.square {
    height: 200px;
    aspect-ratio: 1 /1;
    border: 1px solid black;
    margin: 10px;
}


.entered {
    background-color: rgb(255, 255, 255);
}


.selected {
    background-color: rgb(68, 66, 66);
}
