body {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}


.container {
    display: flex;
    flex-direction: column;
    width: 90vh;
    aspect-ratio: 1 / 1;
    flex-shrink: 0.5;
    margin: 50px 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: black;
}

.row {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}


.pixel {
    margin: 1px;
    flex-grow: 1;
    min-height: 1px;
    min-width: 1px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
}


.entered {
    background-color: rgb(255, 255, 255);
}

.selected {
    background-color: rgb(68, 66, 66);
}
