body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    height: 90vw;
    width: 90vw;
    flex-shrink: 1;
    margin: 50px 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: black;
}

.row {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}


.pixel {
    margin: 1px;
    flex-grow: 1;
    min-height: 1px;
    min-width: 1px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
}



#entered {
    background-color: rgb(255, 255, 255);
}